.map {
	z-index: 1;	
	width: 97vw; 
	height:80%;
	margin: auto;
	max-width: 1200px;
}

.wrap {
  position: relative;
}

/* Style info*/
.content {
  position: relative;
  background-color: white;
  width:94vw;
  max-width: 1200px;
  margin: auto;
  text-align: justify;
  font-size: 16px;
  line-height: 150%;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.contentTitle  {
  position: relative;
  color: white;
  background-color: #f1f1f1;
  background-color: #696969;
  width:98vw;
  max-width: 1200px;
  margin: auto;
  font-size: 17px;
  font-weight: bolder;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.headimg  {
  width:50px;
  margin: auto;
  right: 0px;
  top: -10px;
  position: absolute;
}

/* Header image */
.titelMap {
	width:98vw;
	max-width: 1200px;
	margin: auto;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	/*width		: 100%; /* for IE 6 */
}


h2 {
	position	: relative;
	text-align: left ;
	top		: 0%;
	left		: 0%;
	width		: 100%;
}

 h2 span {
	color			: white;
	font-family		: "Helvetica Neue", Arial, Helvetica, sans-serif;
	letter-spacing		: -1px;
	background		: #696969; /* на случай, если следующая строка не сработает */ 
	background		: #696969;
	padding			: 10px;
}

.line {

}
.navBar {
	position	: relative;
	width:98vw;
	max-width: 1200px;
	margin: auto;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;	
}	
.demoBtn {
	}

.patternImg {
	width:98vw;
	max-width: 1200px;
	margin: auto;
	
}

.custom-popup {
    border-radius: 2px;
    color: #504e4e;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; 
    font-size: 12px;
    line-height: 10px;
    height: 10 px ;
    max-height: 300px;
    }

.custom-popup, .leaflet-popup-tip {
    background: #e7e7e7;
    border: none;
    box-shadow: none;
    }

.leaflet-popup-content-wrapper {
   background: #e7e7e7;
   border-radius: 2px;
   }

.leaflet-popup {
    position: absolute;
    text-align: center;
    }

.leaflet-popup-content {
    margin-top: 20px;
    margin-right: 2px;
    padding-right: 12px;
    min-width: 100 px !important;
    max-height: 300px;
    overflow: auto;
    }
	
	
	.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
