.map {z-index: 1;
}

.wrap {
  position: relative;
}

.panel {
    position: fixed;
    left: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
    z-index: 9999;
    background: #DCDCDC;
	overflow-y: auto;
	padding-left: 5px;
	padding-top: 100px;
	padding-bottom: 100px;
}

a.menu-link {
  display: inline-block;
  color: #696969;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
} 

a.menu-link:hover { background: #DCDCDC; }
a.menu-link:active { background: white; }

/*Legend specific*/
/* .infolegend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8); */
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/ /* Закоментировано изначально */
  /*border-radius: 5px;*//* Закоментировано изначально */
  /* line-height: 24px;
  color: #555;
} */
/* .infolegend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.infolegend span {
  position: relative;
  bottom: 3px;
}

.infolegend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.infolegend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
} */



/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
 /*  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1; */
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding-right: 6px;
  padding-left: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.inputs {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.titelMap {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* Header image */
.titelMap {
	position	: relative;
	width		: 100%; /* for IE 6 */
}

h2 {
	position	: absolute;
	top		: 200px;
	left		: 0;
	width		: 100%;
}

h2 span {
	color			: white;
	font-family		: "Helvetica Neue", Arial, Helvetica, sans-serif;
	letter-spacing		: -1px;
	/* background		: rgb(0, 0, 0); /* на случай, если следующая строка не сработает */ 
	background		: rgba(0, 0, 0, 0.7);
	padding			: 10px;
}
	